/*------------------------------------*\
  #FONTS
\*------------------------------------*/
@font-face {
  font-family: 'Nunito Sans';
  font-weight: 400;
  src: url('/fonts/NunitoSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Nunito Sans';
  font-weight: 600;
  src: url('/fonts/NunitoSans-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Nunito Sans';
  font-weight: 700;
  src: url('/fonts/NunitoSans-Bold.woff2') format('woff2');
}

/*------------------------------------*\
  #GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Nunito Sans', Helvetica, arial, sans-serif;
  color: #111;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: #f2f4f7;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::selection {
  background: #003cc0;
  color: white;
  text-shadow: none;
}

/*------------------------------------*\
  #Elements
\*------------------------------------*/

/*
    Elements: Images
    ---
    Default markup for images to make them responsive
*/

img {
  max-width: 100%;
  vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1 {
  font-size: 36px;
  line-height: 40px;
  margin: 0 0 24px;
}

h2 {
  font-size: 25px;
  line-height: 32px;
  margin: auto;
  font-weight: 700;
  color: #2e3033;
}

h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #737780;
}

h4 {
  font-size: 16px;
  margin-bottom: -1px;
  color: #737780;
  font-weight: 600;
}

h5,
h6 {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 24px;
}

p {
  margin: 0 0 24px;
  font-size: 12px;
  font-weight: 600;
  color: #737780;
}

ol,
ul,
dl,
table,
address,
figure {
  margin: 0 0 24px;
}

ul,
ol {
  padding-left: 24px;
}

li ul,
li ol {
  margin-bottom: 0;
  font-size: 20px;
}

blockquote {
  font-style: italic;
  font-size: 23px;
  line-height: 32px;
  margin: 0 0 24px;
  font-family: 'Times New Roman', serif;
}

blockquote * {
  font-size: inherit;
  line-height: inherit;
}

figcaption {
  font-size: 12px;
  line-height: 16px;
  padding-top: 8px;
  color: Grey;
}

hr {
  border: 0;
  height: 1px;
  background: LightGrey;
  margin: 0 0 24px;
}

a {
  color: RoyalBlue;
  transition: all 0.1s ease-in-out;
  font-size: 18px;
}

a:visited,
a:active {
  color: BlueViolet;
}

a:hover,
a:focus {
  color: Crimson;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-weight: 600;
}

button:focus,
button:hover {
  color: #003cc0 !important;
  font-weight: 700 !important;
}

/*------------------------------------*\
  #OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
  padding: 24px 24px;
  display: flow-root;
}

/* size modifiers */

.o-row--lg {
  padding-top: 48px;
  padding-bottom: 24px;
}

.o-row--xl {
  padding-top: 72px;
  padding-bottom: 48px;
}

@media (min-width: 768px) {
  .o-row {
    padding-left: 48px;
    padding-right: 48px;
  }

  .o-row--md {
    padding-top: 48px;
    padding-bottom: 24px;
  }

  .o-row--lg {
    padding-top: 72px;
    padding-bottom: 48px;
  }
}

@media (min-width: 992px) {
  .o-row--xl {
    padding-top: 96px;
    padding-bottom: 72px;
  }
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 90em; /* 90 * 16px = 1440px */
}

/*
    Objects: section
    ---
    Creates vertical whitespace between adjacent sections inside a row
*/

.o-section {
  display: flow-root;
}

.o-section + .o-section {
  margin-top: 24px;
}

@media (min-width: 768px) {
  .o-section--lg + .o-section--lg,
  .o-section--xl + .o-section--xl {
    margin-top: 48px;
  }
}

@media (min-width: 1200px) {
  .o-section--xl + .o-section--xl {
    margin-top: 72px;
  }
}

/*
    Objects: Layout
    ---
    The layout object provides us with a column-style layout system. This object
    contains the basic structural elements, but classes should be complemented
    with width utilities
*/

.o-layout {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.o-layout__item {
  flex-basis: 100%;
}

/* gutter modifiers, these affect o-layout__item too */

.o-layout--margin + .o-layout--margin {
  margin-top: 16px;
}

.o-layout--gutter {
  margin: 0 -12px;
}

.o-layout--gutter > .o-layout__item {
  padding: 0 12px;
}

.o-layout--gutter-sm {
  margin: 0 -6px;
}

.o-layout--gutter-sm > .o-layout__item {
  padding: 0 6px;
}

.o-layout--gutter-lg {
  margin: 0 -24px;
}

.o-layout--gutter-lg > .o-layout__item {
  padding: 0 24px;
}

/* reverse horizontal row modifier */

.o-layout--row-reverse {
  flex-direction: row-reverse;
}

/* Horizontal alignment modifiers*/

.o-layout--justify-start {
  justify-content: flex-start;
}

.o-layout--justify-end {
  justify-content: flex-end;
}

.o-layout--justify-center {
  justify-content: center;
}

.o-layout--justify-space-around {
  justify-content: space-around;
}

.o-layout--justify-space-evenly {
  justify-content: space-evenly;
}

.o-layout--justify-space-between {
  justify-content: space-between;
}

/* Vertical alignment modifiers */

.o-layout--align-start {
  align-items: flex-start;
}

.o-layout--align-end {
  align-items: flex-end;
}

.o-layout--align-center {
  align-items: center;
}

.o-layout--align-baseline {
  align-items: baseline;
}

/* Vertical alignment modifiers that only work if there is one than one flex item */

.o-layout--align-content-start {
  align-content: start;
}

.o-layout--align-content-end {
  align-content: end;
}

.o-layout--align-content-center {
  align-content: center;
}

.o-layout--align-content-space-around {
  align-content: space-around;
}

.o-layout--align-content-space-between {
  align-content: space-between;
}

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
  list-style: none;
  padding: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

/*
    Component: Component name
    ---
    Component description
    
*/
.c-map {
  margin-top: 16px;
  margin-bottom: 16px;
  height: 312px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.c-route-input {
  width: 100%;
  height: 30px;
  margin-top: 7.5px;
  border-style: none;
  font-size: 20px;
}

.c-input {
  width: 100%;
  height: 30px;
  border-style: none;
  margin-top: 8px;
  font-size: 18px;
  border-radius: 10px;
  padding-left: 8px;
  color: #45484d;
}

.c-chart {
  width: 100%;
  margin: auto;
}
.c-datetoolbar {
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.c-datetoolbar > button {
  width: 24%;
  height: 32px;
  background-color: #ffffff;
  border-style: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  font-size: 14px;
  color: #3076f0;
  font-weight: 400;
}

.c-infocard-large {
  border-radius: 10px;
  background: white;
  padding: 16px;
  width: 100%;
  height: 98px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.c-infocard-medium {
  border-radius: 10px;
  background: white;
  padding: 16px;
  width: 100%;
  height: 80px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.c-infocard-small {
  border-radius: 10px;
  background: white;
  padding: 16px;
  width: 100%;
  height: 80px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.c-infocard-ip {
  border-radius: 10px;
  background: white;
  padding: 16px;
  width: 100%;
  height: 98px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.c-infocard-display {
  border-radius: 10px;
  background: white;
  padding: 16px;
  width: 100%;
  height: 180px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.c-infocard-display > h2 {
  font-size: 48px;
  line-height: 100px;
  margin: auto;
  font-weight: 700;
  color: #2e3033;
}

.c-infocard-display > p {
  margin: 0 0 24px;
  font-size: 20px;
  font-weight: 600;
  color: #737780;
}

.c-infocard-ip > h2 {
  font-size: 30px;
  line-height: 40px;
  margin: auto;
  font-weight: 700;
  color: #2e3033;
}

.c-infocard-ip > p {
  margin: 0 0 24px;
  font-size: 18px;
  font-weight: 600;
  color: #737780;
}

.c-infocard-medium + .c-infocard-medium {
  margin-top: 16px;
}

.c-infocard-display + .c-infocard-display {
  margin-top: 16px;
}

.c-infocard__icon {
  position: absolute;
  margin-top: -28px;
  margin-left: 10px;
  color: #3076f0;
}

.c-logo {
  height: 26px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  padding-bottom: 10px;
}

.c-logo__svg {
  height: 300%;
}

/*------------------------------------*\
  #UTILITIES
\*------------------------------------*/

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/
.u-cards-padding {
  padding-right: 8px;
}

.u-cards-padding + .u-cards-padding {
  padding-left: 8px;
  padding-right: 0px;
}

.u-input-padding {
  padding-right: 8px;
}

.u-input-padding + .u-input-padding {
  padding-left: 8px;
  padding-right: 0px;
}

.u-selected {
  font-weight: 700 !important;
}

.u-textalign-center {
  text-align: center;
}

.u-pt-clear {
  padding-top: 0 !important;
}

.u-mb-clear {
  margin-bottom: 0 !important;
}

.u-mb-xs {
  margin-bottom: 4px !important;
}

.u-mb-sm {
  margin-bottom: 8px !important;
}

.u-mb-md {
  margin-bottom: 16px !important;
}

.u-mb-lg {
  margin-bottom: 32px !important;
}

.u-mb-xl {
  margin-bottom: 48px !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-sm {
  max-width: 36em !important;
}

.u-max-width-md {
  max-width: 45em !important;
}

.u-max-width-lg {
  max-width: 60em !important;
}

.u-max-width-xl {
  max-width: 75em !important;
}

.u-max-width-none {
  max-width: none !important;
}

/*
    Utility: Flex
    ---
    Utility classes to put specific flex properties onto elements
    Will be mostly used on o-layout__item
*/

.u-flex-basis-auto {
  flex-basis: auto !important;
}

.u-flex-grow-1 {
  flex-grow: 1 !important;
}

.u-1-of-2 {
  flex-basis: calc(100% / 2) !important;
}

.u-1-of-3 {
  flex-basis: calc(100% / 3) !important;
}

.u-2-of-3 {
  flex-basis: calc(100% / 3 * 2) !important;
}

.u-1-of-4 {
  flex-basis: calc(100% / 4) !important;
}

.u-3-of-4 {
  flex-basis: calc(100% / 4 * 3) !important;
}

.u-1-of-5 {
  flex-basis: calc(100% / 5) !important;
}

.u-2-of-5 {
  flex-basis: calc(100% / 5 * 2) !important;
}

.u-3-of-5 {
  flex-basis: calc(100% / 5 * 3) !important;
}

.u-4-of-5 {
  flex-basis: calc(100% / 5 * 4) !important;
}

.u-1-of-6 {
  flex-basis: calc(100% / 6) !important;
}

.u-5-of-6 {
  flex-basis: calc(100% / 6 * 5) !important;
}

@media (min-width: 576px) {
  .u-1-of-2-bp1 {
    flex-basis: calc(100% / 2) !important;
  }
  .u-1-of-3-bp1 {
    flex-basis: calc(100% / 3) !important;
  }
  .u-2-of-3-bp1 {
    flex-basis: calc(100% / 3 * 2) !important;
  }
  .u-1-of-4-bp1 {
    flex-basis: calc(100% / 4) !important;
  }
  .u-3-of-4-bp1 {
    flex-basis: calc(100% / 4 * 3) !important;
  }
  .u-1-of-5-bp1 {
    flex-basis: calc(100% / 5) !important;
  }
  .u-2-of-5-bp1 {
    flex-basis: calc(100% / 5 * 2) !important;
  }
  .u-3-of-5-bp1 {
    flex-basis: calc(100% / 5 * 3) !important;
  }
  .u-4-of-5-bp1 {
    flex-basis: calc(100% / 5 * 4) !important;
  }
  .u-1-of-6-bp1 {
    flex-basis: calc(100% / 6) !important;
  }
  .u-5-of-6-bp1 {
    flex-basis: calc(100% / 6 * 5) !important;
  }
}

@media (min-width: 768px) {
  .u-1-of-2-bp2 {
    flex-basis: calc(100% / 2) !important;
  }
  .u-1-of-3-bp2 {
    flex-basis: calc(100% / 3) !important;
  }
  .u-2-of-3-bp2 {
    flex-basis: calc(100% / 3 * 2) !important;
  }
  .u-1-of-4-bp2 {
    flex-basis: calc(100% / 4) !important;
  }
  .u-3-of-4-bp2 {
    flex-basis: calc(100% / 4 * 3) !important;
  }
  .u-1-of-5-bp2 {
    flex-basis: calc(100% / 5) !important;
  }
  .u-2-of-5-bp2 {
    flex-basis: calc(100% / 5 * 2) !important;
  }
  .u-3-of-5-bp2 {
    flex-basis: calc(100% / 5 * 3) !important;
  }
  .u-4-of-5-bp2 {
    flex-basis: calc(100% / 5 * 4) !important;
  }
  .u-1-of-6-bp2 {
    flex-basis: calc(100% / 6) !important;
  }
  .u-5-of-6-bp2 {
    flex-basis: calc(100% / 6 * 5) !important;
  }
}

@media (min-width: 992px) {
  .u-1-of-2-bp3 {
    flex-basis: calc(100% / 2) !important;
  }
  .u-1-of-3-bp3 {
    flex-basis: calc(100% / 3) !important;
  }
  .u-2-of-3-bp3 {
    flex-basis: calc(100% / 3 * 2) !important;
  }
  .u-1-of-4-bp3 {
    flex-basis: calc(100% / 4) !important;
  }
  .u-3-of-4-bp3 {
    flex-basis: calc(100% / 4 * 3) !important;
  }
  .u-1-of-5-bp3 {
    flex-basis: calc(100% / 5) !important;
  }
  .u-2-of-5-bp3 {
    flex-basis: calc(100% / 5 * 2) !important;
  }
  .u-3-of-5-bp3 {
    flex-basis: calc(100% / 5 * 3) !important;
  }
  .u-4-of-5-bp3 {
    flex-basis: calc(100% / 5 * 4) !important;
  }
  .u-1-of-6-bp3 {
    flex-basis: calc(100% / 6) !important;
  }
  .u-5-of-6-bp3 {
    flex-basis: calc(100% / 6 * 5) !important;
  }
}

@media (min-width: 1200px) {
  .u-1-of-2-bp4 {
    flex-basis: calc(100% / 2) !important;
  }
  .u-1-of-3-bp4 {
    flex-basis: calc(100% / 3) !important;
  }
  .u-2-of-3-bp4 {
    flex-basis: calc(100% / 3 * 2) !important;
  }
  .u-1-of-4-bp4 {
    flex-basis: calc(100% / 4) !important;
  }
  .u-3-of-4-bp4 {
    flex-basis: calc(100% / 4 * 3) !important;
  }
  .u-1-of-5-bp4 {
    flex-basis: calc(100% / 5) !important;
  }
  .u-2-of-5-bp4 {
    flex-basis: calc(100% / 5 * 2) !important;
  }
  .u-3-of-5-bp4 {
    flex-basis: calc(100% / 5 * 3) !important;
  }
  .u-4-of-5-bp4 {
    flex-basis: calc(100% / 5 * 4) !important;
  }
  .u-1-of-6-bp4 {
    flex-basis: calc(100% / 6) !important;
  }
  .u-5-of-6-bp4 {
    flex-basis: calc(100% / 6 * 5) !important;
  }
}

/*------------------------------------*\
  #MEDIA
\*------------------------------------*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: ' (' attr(href) ')';
  }
  abbr[title]:after {
    content: ' (' attr(title) ')';
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^='#']:after,
  a[href^='javascript:']:after {
    content: '';
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

header {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  box-shadow: none;
  background-color: #fff;
  position: fixed;
  height: 60px !important;
  overflow: hidden;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.main {
  margin: 0 auto;
  display: block;
  height: 100%;
  margin-top: 60px;
}
.mainInner {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
}
.mainInner div {
  display: table-cell;
  vertical-align: middle;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 1.25px;
}
#sidebarMenu {
  height: 100%;
  position: fixed;
  left: 0;
  margin-top: 0.8em;
  width: 250px;
  transform: translateX(-250px);
  transition: transform 250ms ease-in-out;
  background: #f0f0f0;
}
.sidebarMenuInner {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(72, 133, 240, 0.1);
}
.sidebarMenuInner li {
  list-style: none;
  color: #4885f0;
  font-weight: 600;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(72, 133, 240, 0.1);
}
.sidebarMenuInner li span {
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}
.sidebarMenuInner li a {
  color: #4885f0;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
input[type='checkbox']:checked ~ #sidebarMenu {
  transform: translateX(0);
}

input[type='checkbox'] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}
.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 22px;
  left: 15px;
  height: 22px;
  width: 22px;
}
.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #000;
}
.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}
.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
input[type='checkbox']:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
input[type='checkbox']:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}
input[type='checkbox']:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}
